.sub-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 90%;
  background-color: #0a0a23;
  color: #fff;
  border: 3px solid #fff;
}
.wrapper-for-playing-screen {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d5d7;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 1.2rem;
}

.question {
  margin: 10px 0 10px 20px;
}

.quiz-choices {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.quiz-choice {
  margin: 15px;
  padding: 15px;
}

.quiz-choice:hover {
  border: 3px solid #d0d0d5;
}

.quiz-navigation {
  display: flex;
  justify-content: space-around;
}

.quiz-navigation,
.quiz-choices,
.heading,
question-box {
  padding: 10px;
  margin: 10px;
}

.btn {
  padding: 8px;
  cursor: pointer;
  background-color: #d0d0d5;
  border: 3px solid #fff;
}

.btn:hover {
  background-color: #f0f0f0;
}

.btn:focus {
  outline: none;
}

.quiz-choice-correct:focus {
  background-color: greenyellow;
}

.quiz-choice-wrong:focus {
  background-color: indianred;
}

hr {
  border: none;
  border-top: 3px solid #fff;
}
